<div ng-hide="loading">

    <div class="row">
        <form action="#">
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="label-control">Name</label>
                    <input type="text" class="form-control" ng-model="surveyInstance.name" required>
                </div>

                <div class="form-group">
                    <label for="description">Description</label>
                    <input class="form-control" id="description" name="description" ng-model="surveyInstance.description"/>
                </div>

                <div class="form-group">
                    <label for="welcomeMessage">Welcome Message</label>
                    <input class="form-control" id="welcomeMessage" name="welcomeMessage" ng-model="surveyInstance.welcomeMessage"/>
                </div>

                <div class="form-group">
                    <label for="exitMessage">Exit Message</label>
                    <input class="form-control" id="exitMessage" name="exitMessage" ng-model="surveyInstance.exitMessage"/>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label for="startDate">Start Date<span class="required-indicator">*</span>
                    </label>
                    <input type="text" class="form-control" id="startDate" name="startDate" ng-model="surveyInstance.startDate" ng-value="surveyInstance.startDate | date:'yyyy-MM-dd'" />
                </div>

                <div class="form-group">
                    <label for="expirationDate">Expiration Date<span class="required-indicator">*</span></label>
                    <input type="text" class="form-control" id="expirationDate" name="expirationDate" ng-model="surveyInstance.expirationDate" ng-value="surveyInstance.expirationDate | date:'yyyy-MM-dd'"  />
                </div>
                <div class="form-group">
                    <label for="publicationDate">Publication Date<span class="required-indicator">*</span></label>
                    <input type="text" class="form-control" id="publicationDate" name="publicationDate" ng-model="surveyInstance.publicationDate" ng-value="surveyInstance.publicationDate | date:'yyyy-MM-dd'"  />
                </div>
                <div class="pull-right">
                    <input type="reset" class="btn btn-primary" value="Reset" ng-click="resetSurvey()">
                    <input type="button" class="btn btn-success" value="Save" ng-click="addSurvey()">
                </div>

            </div>
        </form>
        </div>

        <hr>
    <div class="row">

        <div class="col-sm-12">
            <div class="alert alert-info" ng-repeat="survey in surveys">
                <div class="pull-right">
                <button type="button" class="btn btn-primary btn-sm" ng-click="editSurvey(survey.id)"><span class="glyphicon glyphicon-edit"></span></button>
                <button type="button" class="btn btn-danger btn-sm" ng-click="deleteSurvey(survey.id)"><span class="glyphicon glyphicon-remove"></span></button>
                </div>
                <p><h2>{{ survey.name }}</h2> {{ survey.description }}</p>
            </div>

        </div>

    </div>

</div>