<div ng-hide="loading">
<div class="row">
    <div class="col-sm-6">
        <form action="#">
            <div class="form-group">
                <label class="label-control" for="name">Name</label>
                <input type="text" class="form-control" id="name" ng-model="newUser.name" required>
            </div>
            <div class="form-group">
                <label class="label-control" for="born">Born</label>
                <input type="number" class="form-control" id="born" ng-model="newUser.born" required>
            </div>
            <div class="pull-right">
                <input type="reset" class="btn btn-primary" value="Reset" ng-click="resetUser()">
                <input type="button" class="btn btn-success" value="Save" ng-click="addUser()">
            </div>
        </form>
    </div>
    <!-- /div -->
    <br/>
    <!-- div class="row" -->
    <div class="col-sm-6">
        <div class="panel panel-primary" ng-repeat="user in users | orderBy: 'name'" ng-hide="newUser.id==user.id">
            <div class="panel-heading">{{ user.name }}</div>
            <div class="panel-body">
                <p>Born: {{ user.born }}</p>
            </div>
            <div class="panel-footer">
                <div class="pull-right">
                    <button class="btn btn-primary btn-sm" ng-click="editUser(user.id)">Edit</button>
                    <button class="btn btn-danger btn-sm" ng-click="deleteUser(user.id)">Delete</button>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</div>
</div>